.header{
    height: 250px;
    position: relative;
    width: 100%;
    background-color: var(--primary-color);
}
/*header top*/
.header-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20%;
    padding: 0 30px;
    border-bottom: 1px solid var(--main-color);
}

.header-top-menu{display: none; font-size: 30px;
    cursor: pointer;
    color: var(--main-color);}

.header-top-phone,.header-top-text,.header-top-login{
    font-size:27px;
    font-weight: 500;
    color: var(--main-color);
}
.header-top-phone i,.header-top-login i{
    padding: 5px;
    margin-right: 4px;
}
/*Header middle*/

.header-middle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    height: 50%;
    text-decoration: none;
}
.header-middle-logo,.header-middle-search-bar,.header-middle-search-input,.header-middle-cart-wrapper{
    font-size:27px;
    font-weight: 500;
    color: var(--main-color);

}
.header-middle-logo i{
    padding: 0 6px;
}

.header-middle-search-bar{
    border-radius: 80px;
    padding: 10px;
    width: 700px;
    position: relative;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}
.header-middle-search-input  {
    width: 100%;
    height: 100%;
   font-size: 24px;
   padding-left: 25px;
   border: none;
   color: black;

}

.bi-search{
    position: absolute;
    right: 6px;
    top: 10px;
    bottom: 0;
    color: rgb(0, 0, 0);
    font-size: 30px;
    padding-right: 5px;
    cursor: pointer;
}
.bi-cart2{
    font-size: 44px;
    cursor: pointer;
}
/* Nav-bar*/

.navbar-nav {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 1rem;
  }
  .nav-item {
    margin: 0 20px;
    font-size: 20px;
    font-weight: 300px;
    padding: 0 55px;
    height: 100%;
    display: flex;
    text-decoration: none;
  }
  .navbar{
margin-top: 30px;
display: flex;justify-items: center;
justify-content: center;
height: 30%;
box-shadow: 0 0 1px 1px gray;
  }
  .nav-link{color: black; 
    margin-top: 25px;
    text-decoration: none;}
    .nav-link:hover{
        background-color: rgb(65, 105, 105);
        transition: all 0.1s ease;
        border-radius: 8px;
    }

/* .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
   height: 30%;
    color: #020202;
    background-color: var(--main-color);
    box-shadow: 0 0 2px gray;
  }
  
  .navbar-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    height: 100%;
  }
  
  .navbar-item {
    margin: 0 10px;
    font-size: 20px;
    font-weight: 600;
    color: #525452;
    cursor: pointer;
    align-items: center;
    height: 100%;
    text-decoration: none;
  }
  .navbar-item:hover{
    background-color: snow;
  } */
  /*mediaquery*/
  @media(max-width:990px) {
    .header-middle-search-bar{
        width:600px
    }
    
  }
  @media(max-width:920px) {
    .header-middle-search-bar{
        width:450px
    }
.header-top-text{
    font-size: 20px;

}
.header-middle-logo{
    font-size: 20px;
    font-weight: 400;
}

}
@media(max-width:720px){
    .header-top-text{
        display: none;

    }
    .header-top-menu{
        display: block;
    }
    .header-middle{
        flex-wrap: wrap;
        padding: 0 30px;
        height: 80%;
    }
    .header-middle-search-bar{
        width: 100%;
    } .header-middle-cart-wrapper{
        position: relative;
        bottom: 30px;
    }
    .header-middle-logo{
        display: none;
    }
    .navbar{
        position: fixed;
        top: 30px;
        left: -300px;
        width: 50%;
        height: 100vh;
        align-items: flex-start;
        z-index: 999;
        transition: all 1s ease;
        display: none;
        
    }
    .navbar-nav
    {   flex-direction: column;
        justify-content: center;
         align-items: flex-start;
        height: max-content;
        width: 110%;
        padding-right: 30px;
     
        
}
.nav-item a{    

    width: 112%;
 


}
.nav-item{
    
    width: 90%;
    padding: 5px;
 

}
.nav-link{
    width: 100%;
    text-align: center;
    padding: 20px;
}

.nav-item:hover{
    background-color: var(--main-color);

}

} 
@media(max-width:520px) {
    .header-middle-search-bar{
        padding: 4px 15px;
        width: 100%;
        
    }
    .header-top-phone{
        font-size: 10px;
    }
    .nav-link{
        font-size: 17px;
    margin-left: -18px;
    }
    .bi-search{
        font-size: 25px;
    }
  }











