.header{
    height: 250px;
    width: 100%;
    background-color: var(--primary-color);
}
/*header top*/
.header-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20%;
    padding: 0 30px;
    border-bottom: 1px solid var(--main-color);
}

.header-top-menu{display: none;}

.header-top-phone,.header-top-text,.header-top-login{
    font-size:27px;
    font-weight: 500;
    color: var(--main-color);
}
.header-top-phone i,.header-top-login i{
    padding: 5px;
    margin-right: 4px;
}
/*Header middle*/

.header-middle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    height: 50%;
}
.header-middle-logo,.header-middle-search-bar,.header-middle-search-input,.header-middle-cart-wrapper{
    font-size:27px;
    font-weight: 500;
    color: var(--main-color);

}
.header-middle-logo i{
    padding: 0 6px;
}

.header-middle-search-bar{
    border-radius: 80px;
    padding: 10px;
    width: 700px;
    position: relative;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}
.header-middle-search-input  {
    width: 100%;
    height: 100%;
   font-size: 24px;
   padding-left: 25px;
   border: none;
   color: black;

}

.bi-search{
    position: absolute;
    right: 6px;
    top: 10px;
    bottom: 0;
    color: rgb(0, 0, 0);
    font-size: 30px;
    padding-right: 5px;
    cursor: pointer;
}
.bi-cart2{
    font-size: 44px;
    cursor: pointer;
}
/* Nav-bae*/
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
   height: 30%;
    color: #020202;
    background-color: var(--main-color);
    box-shadow: 0 0 2px gray;
  }
  
  .navbar-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    height: 100%;
  }
  
  .navbar-item {
    margin: 0 10px;
    font-size: 20px;
    font-weight: 600;
    color: #525452;
    cursor: pointer;
    align-items: center;
    height: 100%;
  }
  .navbar-item:hover{
    background-color: snow;
  }
  